<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.betkey">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
            android:name=".Application"
            android:allowBackup="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/icon_betkey"
            android:label="@string/app_name"
            android:roundIcon="@drawable/icon_betkey"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning">

        <activity
                android:name=".ui.login.LoginActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.scanTickets.ScanTicketsActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.jackpot.JackpotActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.deposit.DepositActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.withdrawal.WithdrawalActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.sportbetting.SportBettingActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan"/>
        <activity
                android:name=".ui.UsbPrinterActivity"
                android:theme="@style/Theme.Transparent" />
        <activity
                android:name=".ui.lottery.LotteryActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.pick3.PickActivity"
                android:screenOrientation="portrait" />

    </application>

</manifest>